.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #c4c4c4; /* Lighter gray for the footer */
    padding: 30px 0; /* Add more padding for better spacing */
    color: #333;
    width: 100vw;
    box-sizing: border-box;
    position: relative;
    left: 0;
    bottom: 0;
}


.footerLogo img {
    height: 60px;
    width: auto;
}

.contactInfo {
    text-align: left;
    max-width: 200px;
}

.contactInfo h3 {
    color: #ff3d00;
    margin: 0;
}

.socialIcons {
    display: flex;
    gap: 15px;
}

.socialIcons i {
    font-size: 1.5em;
    color: #ff3d00;
    cursor: pointer;
}
